{% extends "base.html" %}

{% block content %}
  <h2>Details</h2>
  <ul class="list-group">
    <li class="list-group-item">
      Name: {{ driver.first_name }} {{ driver.last_name }}
    </li>
   <li class="list-group-item">
      license_number: {{ driver.license_number }}
    </li>
  </ul>
  <h2>Drivers</h2>
   <ul class="list-group">
    {% for car in driver.cars.all %}
        <li class="list-group-item">
          {{ car.manufacturer.name }} {{ car.model }}
        </li>
    {% endfor %}
  </ul>
{% endblock %}